[submodule "webserver/public/resources"]
	path = webserver/public/resources
	url = https://github.com/birgersp/dcs-mission-intel-bin.git
	branch = master
[submodule "public/resources/bin"]
	path = public/resources/bin
	url = https://github.com/jkhoel/dcs-mission-intel-bin.git
	branch = master
