[submodule "mist"]
	path = mist
	url = https://github.com/mrSkortch/MissionScriptingTools.git
	branch = master
[submodule "unit-types"]
	path = unit-types
	url = https://github.com/birgersp/dcs-unit-types.git
	branch = master
[submodule "webserver/public/resources"]
	path = webserver/public/resources
	url = https://github.com/birgersp/dcs-mission-intel-bin.git
	branch = master
