/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Oct-2016, 22:34:00
    Author     : jensk
*/

.dg {
    color: #fff;
    text-shadow: none !important;
}

.dg li.folder {
    padding: 0;
    border-left: 0px solid transparent;
}

.dg .cr.boolean {
    border-left: 3px solid #D8CD58;
}