@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?48921448');
  src: url('../font/fontello.eot?48921448#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?48921448') format('woff2'),
       url('../font/fontello.woff?48921448') format('woff'),
       url('../font/fontello.ttf?48921448') format('truetype'),
       url('../font/fontello.svg?48921448#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?48921448#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-minus-circled:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-pin:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-eye-off:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-block:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-asterisk:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-download:before { content: '\e813'; } /* '' */
.icon-level-down-1:before { content: '\e814'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */